[Unit]
Description=Bunnies launcher
After=network.target

[Service]
User=avj
Type=forking
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/bash -c '/usr/bin/screen -L -dmUS bunnies /bin/bash /home/avj/bunny-watcher/run_bunnies.sh'

[Install]
WantedBy=multi-user.target
