html, body, .page {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.current {
    width: 100%;
    display: flex;
    justify-content: center;
}

.current img {
    height: 450px;
}

.previous {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.previous__subcategory {
    min-width: 300px;
}

