{% extends "layout.html" %}
{% block body %}
  <div id="camera-image">
    <h1>Bunny Watcher &mdash; <a href="https://www.youtube.com/channel/UCnXsE80xNi4UAJVV4kf2FQQ">YouTube</a></h1>
    <img src="{{ url_for('static', filename='captures/current.jpg') }}"/>
    <br/>
    <br/>
    <a href="{{ url_for('static', filename='captures/animated.gif') }}"><h2>yesterday.gif</h2></a>
  </div>
  <div class="prev-captures">
    <h2>Previous Captures</h2>
    {% for file in files %}
      <a href="{{ url_for('static', filename='captures/') }}{{file}}">{{file}}</a><br/>
    {% else %}
      <p>No other captures.</p>
    {% endfor %}
  </div>
{% endblock %}
